POSTGRES_DB=dfchat
POSTGRES_USER=dfchat
POSTGRES_PASSWORD=changeme_postgres
POSTGRES_PORT=5432

REDIS_PASSWORD=changeme_redis
REDIS_PORT=6379

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=changeme_minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

NATS_PORT=4222
